.music-container {
  padding: 20px;
  min-height: calc(100vh - 70px);
  /* Adjust for the navbar height */
  color: white;

  margin: 59px auto 40px auto;
}

.music-container-title {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 35px;
  justify-content: center;
  text-align: center;
}

.music-container-title i {
  margin-right: 15px;
}

.music-lower-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto 40px auto;
  /* Center align horizontally */
  width: 76%;
}

.music-lower-container-left {
  display: flex;
  flex-direction: column;
  max-width: 667px;

}

.music-lower-container-left-upper-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.music-lower-container-left-upper-content-img {
  width: 667px;
  height: 375px;
  background-size: cover;
  background-position:top;
  object-fit: cover;
  border-radius: 3.82px;
}

.search-bar {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;

  position: absolute;

}

.music-lower-container-left-lower-content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.music-lower-container-left-lower-content-title {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 30px;

  border-left: 4px solid #ff640a;
  padding-left: 10px;
}

.music-lower-container-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.featured-song {
  font-size: 1.5em;
  margin: 10px 0;
}



.music-card2 {
  max-width: 177px;
  height: 305px;
  margin-right: 2rem;
  text-align: center;
  font-family: arial;
  position: relative;
  background-color: black;
  overflow: hidden;
  /* Ensures the content stays within the card */
}

.music-card2-img {
  width: 100%;
  height: 177px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  /* Smooth scaling effect on hover */
}

.music-card2-name {
  max-width: 100%;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.music-card2-artist {
  max-width: 100%;
  font-size: 10px;
  font-weight: 100;
  text-align: left;
  color: #8d979a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 12px;
}




.music-card3 {
  max-width: 177px;
  height: 305px;
  margin-right: 2rem;
  text-align: center;
  font-family: arial;
  position: relative;
  background-color: black;
  overflow: hidden;
  /* Ensures the content stays within the card */
}

.music-card3-img {
  width: 100%;
  height: 177px;
  object-fit: cover;
  border-radius: 100px;
  transition: transform 0.3s ease-in-out;
  /* Smooth scaling effect on hover */
}

.music-card3-circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  position: absolute;
  top: 60px;
  right: 60px;
  background-color: black;
  
}


.music-card3-circl2{
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: absolute;
  top: 70px;
  right: 70px;
  background-color: black;
  border: 10px solid #ff640a;
  
}

.music-card3-name {
  max-width: 100%;
  font-size: 13px;
  font-weight: 100;
  text-align: left;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.music-card3-artist {
  max-width: 100%;
  font-size: 10px;
  font-weight: 100;
  text-align: left;
  color: #8d979a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 12px;
}



.music-lower-container-right-title {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 35px;
}


.music-card4 {
  max-width: 177px;
  height:57px;
  margin-bottom: 1rem;
  text-align: center;
  font-family: arial;
  position: relative;
  background-color: black;
  overflow: hidden;
  
  display: flex;
  flex-direction: row;
  border-bottom: 0.1px solid #434343;
  padding-bottom: 8px;
}

.music-card4-img {
  width: 57px;
  height: 57px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  /* Smooth scaling effect on hover */
}

.music-card4-content{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10px;
  width: 100%;
  height: 57px;
}
.music-card4-name {
  max-width: 100%;
  font-size: 15px;
  font-weight: 100;
  text-align: left;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.music-card4-artist {
  max-width: 100%;
  font-size: 12px;
  font-weight: 100;
  text-align: left;
  color: #8d979a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-top: 5px;
}




.expand-button {
  background-color: #213944;
  width: 100%;
  color: white;
  border: none;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.expand-button:hover {
  background-color: #777;
}


.slick-slide>div {
  margin: 0 10px;
}