.reply-card {
    margin-left: 15px;
    margin-right: 25px;
    padding-top: 20px;

    display: flex;
    flex-direction: row;
  }

  .reply-card-avatar {
    color: white;
    margin-right: 10px;
    font-size: 24px;
    margin-top: 19px;
  }

  .reply-card-name {
    margin-left: 10px;
    color: #9e9ea0;
    font-size: 9px;

    text-align: justify;
  }

  .reply-card-text {
    margin: 5px 0;
    color: white;
    font-size: 12px;

    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 500px; 

    background-color: #222327;
    padding: 9px;
    border-radius: 15px;
  }

  .reply-card-btn {
    color: #9e9ea0;
    font-size: 9px;
    background-color: transparent;
    border: none;
    text-align: right;
    cursor: pointer;
    margin-left: 20px;
  }

  
  .report-dropdown {
    background-color: #222327;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .report-dropdown label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
  }
  
  .report-dropdown input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .report-dropdown-ok{
    background-color: #ff640a;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 10px;
  }

  .close-dropdown-btn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 10px;
    text-align: right;
    width: 100%;
  }